Queue packets when calling WritePackets

While link address resolution is being performed, queue packets up when using the `WritePackets` family of functions.

See RFC 1122 section 2.3.2.2 (for IPv4) and RFC 4861 section 5.2 (for IPv6).