Subsequent traffic to failed neighbor should invoke address resolution again

RFC 4861 section 7.3.3
```
  If address resolution fails, the entry SHOULD be deleted, so that subsequent
  traffic to that neighbor invokes the next-hop determination procedure again.
  Invoking next-hop determination at this point ensures that alternate default
  routers are tried.
```

Currently, the neighbor table transitions entries to Failed after address resolution fails. In this state, any subsequent traffic requested within UnreachableTime will immediately fail with ErrNoLinkAddress. This does not follow the RFC and must be changed.
