API to configure NUD state machine

The Neighbor Unreachabililty Detection (NUD) state machine has several protocol constants defined in RFC 4861 section 10 which may be overridden for different link layers. This allows Neighbor Discovery to operate over links with widely varying performance characteristics.

See https://tools.ietf.org/html/rfc4861#section-10 for the list of constants.

An API needs to be exposed on `tcpip.stack.Stack` to configure these constants on a per-NIC basis, which is necessary for the implementation of the NUD state machine.