forwarded packets do not handle IPv4 options

When packets are copied the IP header options are not touched.

fix under way

// Options processing occurs at several points in IPv4 packet processing.
// RFC 791, RFC 1122 and RFC 1812 all give parts of this requirement.
// The code in this function needs to support them all. They are:
// * Sending a packet. For both initial transmision and forwarding.
//    1)  No fragmentation or first fragment:
//        All options are carried forward and timestamp and RR are processed.
//        Failures may result in ICMP error packets for Forwarding.
//        For initial transmission an error may be generated though we
//        have no process to handle this at this time.
//    2)  Subsequent fragments:
//        RFC 791 says these receive a subset of options, including LSRR.
//        However we currently support no options that are in that subset so
//        currently the resulting set is 'no options'. ICMP errors must not
//        result. Errors may be passed up the stack on transmission.
// * ICMP echo (or timestamp request).  (RFC 1122 3.2.2.6, page 43)
//     Only Record route, and Timestamp options are sent back.
//     If we decide to support LSRR options we need to reverse the route here.
//     Linux makes the decision to process twice, once on reception and once
//     on retransmission. Other systems don't. The RFCs don't seem to suggest
//     this.
// * Reception.
//     The timestamp option is processed before passing up higher layers,
//     however an overflow of the overflow count is not fatal unlike in the
//     forwarding case. (RFC 1122 section 3.2.1.8.e paragraph 3 on page 38).
//     At the current time we do not have any way of passing the options up to
//     the transport and application layer (a mandatory feature) so the only
//     processing we need to do is sanity checking. If we decide to support
//     LSRR packets, this affects the actual definition of 'receiving' a packet.
//     If the received packet is to be forwarded, Linux processes it here as
//     well.
//
// The LSRR type is mandatory, but not yet supported and we may never do so.
// It is here to indicate work required by the RFC when if do support it and
// show why there are several types. See RFC 1122 section 3.2.1.8 (pages 35-37)
// for more information.  This VERY DELIBERATELY documents modes here we do not
// yet support in preparation for support of fragmentation and forwarding.