IPv6 fragmentation algorithm needs adjustments once Authentication/ESP Headers are supported

**Description**

As per RFC 8200 Section 4.5:

For IPv6 fragmentation of outbound packets, some IPv6 Extension Headers are supposed to be repeated in each fragment (Hop by Hop & Destination options, Routing header) whereas some other should only be in the first fragment (Authentication header, Encapsulated Security Payload). Currently, the fragmentation implementation assumes that these non-repeatable headers are never included. This will need to change once we support these headers.

**Is this feature related to a specific bug?**

https://github.com/google/gvisor/issues/2197
