Send ICMPv6 error messages in response to IPv6 packets that cannot be handled

Currently, the stack does not send ICMPv6 errors in response to IPv6 packets that cannot be parsed/handled.

An example is when the Next Header field is unrecognized (e.g. not TCP, UDP or a known extension header). This scenario is described in RFC 8200 section 4, which requires an node to send an ICMP Parameter Problem message to the source of the packet, with an ICMP Code value of 1 ("unrecognized Next Header type encountered")...
