IPv6 fragment that would create payload size exceeding 65,535 should be discarded

According to RFC 8200 section 4.5, "If the length and offset of a fragment are such that the Payload Length of the packet reassembled from that fragment would exceed 65,535 octets, then that fragment must be discarded". Currently the fragment reassembled into the payload length 65,536 is accepted.