Validate incoming MLD packets

As per RFC 2710 section 3, an MLD packet must have:
- a code value of 0
- hop limit of 1
- link-local source address
- hop-by-hop extension header with a router alert option
