Only join the IPv4 all-hosts multicast group if the link-layer supports multicast

For IPv4: As per RFC 1122 section 3.3.7:
```
         A host SHOULD support local IP multicasting on all connected
         networks for which a mapping from Class D IP addresses to
         link-layer addresses has been specified (see below).

         /* list of mappings */
```

Although in practice most link-layers will support multicast, it seems like technically not all will. 

Note for IPv6 we join the all-nodes multicast address but unlike the IPv4 case, no exception is made; as per RFC 4291 section 2.8:
```
2.8.  A Node's Required Addresses
   A host is required to recognize the following addresses as
   identifying itself:

      o Its required Link-Local address for each interface.

      o Any additional Unicast and Anycast addresses that have been
        configured for the node's interfaces (manually or
        automatically).

      o The loopback address.

      o The All-Nodes multicast addresses defined in Section 2.7.1.

      o The Solicited-Node multicast address for each of its unicast and
        anycast addresses.
```


Unless there is a plan to support links that don't support link-layer broadcast or multicast, this is low priority.