Learn 

Retransmit timer is the time between re-transmitted Neighbor Solicitation messages.  Used by address resolution and the Neighbor Unreachability Detection algorithm (see RFC 4861 Sections 7.2 and 7.3). This value can be learned through Router Advertisements.

From RFC 4861 Section 6.3.4. Processing Received Router Advertisements:
```
   The RetransTimer variable SHOULD be copied from the Retrans Timer
   field, if the received value is non-zero.
```

This issue tracks the implementation of learning `RetransTimer` through Router Advertisements.