Implement Neighbor Unreachabilty Detection state machine

The Neighbor Unreachabililty Detection (NUD) is a mechanism defined in [RFC 4861 Section 7](https://tools.ietf.org/html/rfc4861#section-7). It defines how nodes determine a neighbor as no longer reachable.

Note that this mechanism is defined for NDP, but the same state machine can be used for ARP using the respective ARP packets in place of neighbor solicitations and advertisements. An example of this can be found in Linux's [implementation of ARP](https://github.com/torvalds/linux/blob/master/net/ipv4/arp.c).

This adds a few benefits over the current implementation of ARP:

> Significantly improves the robustness of packet delivery in the
> presence of failing routers, partially failing or partitioned
> links, or nodes that change their link-layer addresses.  For
> instance, mobile nodes can move off-link without losing any
> connectivity due to stale ARP caches.
>
> Unlike ARP, Neighbor Discovery detects half-link failures (using
> Neighbor Unreachability Detection) and avoids sending traffic to
> neighbors with which two-way connectivity is absent. 
>
> Source: [RFC 4861 Section 3.1](https://tools.ietf.org/html/rfc4861#section-3.1)