Support IPv6 Pad1 and PadN options

**Description**

We do not process the hop-by-hop/destination options defined in RFC 8200, namely Pad1 and PadN options. These options MUST be recognized by all IPv6 implementations (RFC 8200 section 4.2)

   There are two padding options that are used when necessary to align
   subsequent options and to pad out the containing header to a multiple
   of 8 octets in length.  These padding options must be recognized by
   all IPv6 implementations:

These options are actually already supported (handled by the extension header iterator)

Closing this issue.