Send reachability confirmation upon link address change

Max Reachability Confirmations is the max number of re-transmissions to send when a NIC's link address has changed.

From RFC 4861 Section 7.2.6. Sending Unsolicited Neighbor Advertisements
```
   In some cases, a node may be able to determine that its link-layer
   address has changed (e.g., hot-swap of an interface card) and may
   wish to inform its neighbors of the new link-layer address quickly.
   In such cases, a node MAY send up to MAX_NEIGHBOR_ADVERTISEMENT
   unsolicited Neighbor Advertisement messages to the all-nodes
   multicast address.  These advertisements MUST be separated by at
   least RetransTimer seconds.
```

This issue tracks the discussion if we need to implement this feature. If so, this feature will track the implementation of `MaxReachabilityConfirmations`.