Validate incoming IGMP packets

As per RFC 2236 section 2, an IGMP packet must have:
- TTL of 1
- router alert option

As per RFC 2236 section 10:
 - To defend against externally sourced v1 Reports, ignore the
       Report if you cannot identify the source address of the packet as
       belonging to a subnet assigned to the interface on which the
       packet was received.